container_commands:
  01_make_calls:
    command: "cat .ebextensions/make_calls_cron_job.txt > /etc/cron.d/make_calls_cron_job && chmod 644 /etc/cron.d/make_calls_cron_job"
  02_fix_permissions:
    command: "cat .ebextensions/01_fix_log_permissions.sh > /opt/elasticbeanstalk/hooks/appdeploy/post/02_fix_log_permissions.sh && chmod 755 /opt/elasticbeanstalk/hooks/appdeploy/post/02_fix_log_permissions.sh"
  03_link_to_logs:
   command: "ln -s /var/app/current/storage/logs /var/log/laravel"
