container_commands:
  01_make_calls:
    command: "cat .ebextensions/make_calls_cron_job.txt > /etc/cron.d/make_calls_cron_job && chmod 644 /etc/cron.d/make_calls_cron_job"
    leader_only: true
  02_test_cron:
    command: "cat .ebextensions/test_cron.txt > /etc/cron.d/test_cron && chmod 644 /etc/cron.d/test_cron"
    leader_only: true