container_commands:
  01_make_calls:
    command: "cat .ebextensions/make_calls_cron_job.txt > /etc/cron.d/make_calls_cron_job && chmod 644 /etc/cron.d/make_calls_cron_job"
  02_fix_permissions:
    command: "cat .ebextensions/01_fix_log_permissions.sh > /opt/elasticbeanstalk/hooks/appdeploy/post/02_fix_log_permissions.sh && chmod 755 /opt/elasticbeanstalk/hooks/appdeploy/post/02_fix_log_permissions.sh"
  03_link_to_logs:
   command: "ln -s /var/app/current/storage/logs /var/log/laravel"
files:
 "/etc/php.d/project.ini" :
   mode: "000644"
   owner: root
   group: root
   content: |
     upload_max_filesize = 10M
     post_max_size = 8M
     default_socket_timeout = 90
     max_execution_time = 300

